varpipe_wgs_new/githubkey*
varpipe_wgs_new/data/nohup.out
varpipe_wgs_new/data/.nextflow* 
varpipe_wgs_new/data/Output
varpipe_wgs_new/data/kraken2_db
varpipe_wgs_new/tools/clockwork-0.11.3
varpipe_wgs_new/tools/gatk-4.2.4.0
varpipe_wgs_new/tools/snpEff
varpipe_wgs_new/tools/bcftools
varpipe_wgs_new/tools/bwa
varpipe_wgs_new/tools/picard.jar
varpipe_wgs_new/tools/ref2.fa
varpipe_wgs_new/tools/samtools
varpipe_wgs_new/tools/bcftools

